<section>
    <form action="/armazenar" method="post">
        <h1 class="text-center my-5">Cadastro de Produtos</h1>

        <section class="mb-2">
            <label for="nome">Nome do produto</label>
            <input class="form-control" type="text" name="nome" id="nome">
        </section>

        <section class="mb-2">
            <label for="quantidade">Quantidade do produto</label>
            <input type="number" name="quantidade" id="quantidade" class="form-control">
        </section>

        <section class="mb-2">
            <label for="preco">Preço do produto</label>
            <input type="text" name="preco" id="preco" class="form-control">
        </section>

        <section>
            <button type="submit" class="btn btn-primary col-3">Cadastrar</button>
        </section>
    </form>
</section>